*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Whitney',sans-serif;
}


.container{
    display: flex;
    justify-content: center;
    /* padding: 50px; */
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 120px 40px;
    align-items: center;

}


nav{
    /* padding-bottom: ; */
    /* background-color: #add8e6; */
    padding-bottom:  120px;
    /* padding-left: 30px; */
    background-image:url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}

nav .container {
    /* background-color: #daa520; */
    /* test */
    padding-top: 10px;
    padding-bottom:30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
}

nav .container >*{
    padding: 10px;
}

header,section{
    padding: 20px 40px;
}


/* .menu{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */


/* .menu-nav{
    /* padding: 10px; */
    /* background-color: #daa520;
    border: black;
    border-style: dashed;
    font-size: 20px;
} */ 
.nav .nav-links{
    flex-grow: 1;
}

nav .nav-links ul{
    gap: 36px;
    display: flex;
    justify-content: center;
}

ul{
   
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* nav .nav-links ul li{
    margin-right: 10px;
    justify-content: space-around;
    
} */
/* .button{
    background-color: transparent;
    padding: 5px;

} */
.container .nav-button button{
    padding: 12px;
    background-color: white;
    width: 100px;
    border-color: transparent;
    border-radius: 50px;

}

 .container .logo{
    width: 100px;
}

.container .nav-links a{
    text-decoration: none;
    color: black;
}



/* .row{
    display: flex;
} */

/* #hero{
    /* background-color: #00008b; */
    /* padding: 50px; */

/* } */ 


.container-small{
    display: flex;
    justify-content: center;
    /* padding: 40px 20px; */
    padding-bottom: 20px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}
/* .container-small{
    flex-grow: 1;
  

} */

/* #hero{ */
    /* padding: 40px 20px; */

/* #hero .container-small .hero-text{
    /* padding: 20px 40px; */
/* } */ 


h1{
    font-size: 40px;
    font-weight: 900;
    margin-bottom:20px ;
}

#hero .container-small .hero-text .text{
    /* padding: 30px 40px; */
    line-height: 30px;
    margin-bottom: 20px;
}


.button{
    background-color: transparent;
    border-radius: 50px;
    padding:10px 20px;
}

#hero-button .hero-button{
    background-color: white;
    border-color: transparent;
}

#hero-button .hero-button-black{
    background-color: black;
    color: white;
    border-color: transparent;
    margin-left: 30px;
}

.row-white .container{
    align-items:flex-start;
    /* padding: 30px; */
}
.discord-img{
    /* order: 1; */
    flex-grow: 3;
    padding: 20px;

}

/* .discord-img img{
    height: 260px;
    width: 460px;
} */

.discord-text{
    flex-grow: 2;
    height: auto;
    text-align: left;
    padding: 20px  100px;

}

h2{
    font-weight: 900;
    font-size: 35px;
    margin-bottom: 20px;
}

.text-img p{
    line-height: 30px;
}


 .row-grey{
    background-color: #f6f6f6;
}

/* .row-grey{
    /* border-style: outset; */
    /* outline-style: ; */
/* } */ 
 .row-grey .discord-img{
    order: 1;
}

.row-grey .container .sub-footer{
    text-align: center;
    grid-column: 2;
}

/* .sub-footer{
    w
} */
h3{
    font-family: 'Whitney';
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 40px;
}

h3::before{
    content: url('../img/stars.svg');
    display: table;
    clear: both;
    text-align: center;
    width: 100%;
}

.container .sub-footer .button-sub-footer{
    background-color: #8ea1e1;
}

#footer-top .footer-links h4{
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 20px;
}
 .row-black{
    background-color: #23272a;
    
}

 .row-black .dark-pink{
    flex-grow: 3;
    height: 575px;
    background-color: #f08080;
    border: black;
    border-style: dashed;
}

 .row-black .teal-blue{
    flex-grow: 2;
    height: 575px;
    background-color: #20b2aa;
    border: white;
    border-style: dashed;
}


footer {
    background-color: #23272a;
    /* test */

    padding-top: 8px;
}



footer .container > * {
    border: dashed 2px white;
    /* test */
}


footer #footer-top {
    margin-bottom: 30px;
}

/* footer #footer-top .footer-links {
    background-color: #f08080;
    height: 500px;
    width: 250px;
    test
} */


 /* footer #footer-top .img-footer img {
    width: 18px;
    height: 12px;

} */

footer #footer-top .footer-links ul a{
    color: white;
}

footer #footer-top .footer-links ul a::before{
    content: url("../img/ita.png");
    margin-right: 2px;
}

footer #footer-top .footer-links ul a::after{
    content: '˅';
    margin-left: 2px;
    color: white;
    
    
}

footer #footer-top .footer-column {
    background-color: #20b2aa;
    /* test */
    
    flex-grow: 1;
}

footer #footer-bottom {
    background-color: #7fffd4;
    /* test */

    margin-top: 16px;
}

footer #footer-bottom {
    justify-content: space-between;

    padding: 16px 0;
}

footer #footer-bottom > * {
    background-color: #ffb6c1;
    /* test */

    padding: 4px 8px;
}

